{% extends "layout.html" %}

{% block content %}
  <h3>{{result.title}} <small> (<a href="{{result.urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="PLACEHOLDER-AUTHOR-URL">PLACEHOLDER AUTHOR NAME</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div>PLACEHOLDER AUTHOR NAME WITH LINK TO AUTHOR PAGE</div>
  <div class="page-body">{{result.content}}</div>
  <hr/>
  <a href="{{result.urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{result.urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}